.env
.env.example
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv/
venv/
ENV/
static/uploads/
*.sqlite3
*.h5
*.keras
!model.keras
!resnet_model.h5
!vgg_model.h5

#virtual environment
venv/
.venv/

Test/

mydb.sqlite3